@import 'tailwindcss';
@import '../../../../styles.css';

@theme {
  --shield-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 50% 100%, 0 calc(100% - 30px));
}

.shield-border {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 50% 100%, 0 calc(100% - 30px));

  background: linear-gradient(135deg, var(--color-chainmail), var(--color-void-navy));

  padding: 1px;
}

.shield-inner {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 50% 100%, 0 calc(100% - 30px));
}

.shield-border:hover,
.shield-border.is-open {
  background: linear-gradient(135deg, var(--color-rune-blue), var(--color-void-navy));

  filter: drop-shadow(0 0 10px rgba(56, 189, 248, 0.4));
  transform: translateY(-5px);
}

.gold-variant {
  background: linear-gradient(135deg, #ffd700, #854d0e);
}
.gold-variant:hover,
.gold-variant.is-open {
  background: linear-gradient(135deg, #facc15, #a16207);
  filter: drop-shadow(0 0 10px rgba(234, 179, 8, 0.4));
}
.gold-variant h3 {
  @apply text-yellow-100 group-hover:text-yellow-400;
}
